/* --- RESET GERAL --- */
/* Tira as margens e espaçamentos padrão que o navegador coloca */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Faz com que o tamanho dos elementos inclua as bordas e o padding */
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; /* Deixa a fonte chique do site */
}

/* --- FUNDO DO SITE --- */

body{
    background-color: #4c0000;
    font-family: "Montserrat";
    color: #404040;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: brown;
}

form {
  background-color: white;
  padding: 50px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.barra-horizontal {
  background-color: #f87842;
  height: 5px;
  width: 210px;
}

.campo-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.lembrar-me{
  display: flex;
  gap: 5px;
}
.titulo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
button {
  padding: 10px;
  align-self: center;
  width: 160px;
  border-radius: 30px;
  background-image: linear-gradient(#256a8a, #3393c1);
  border: solid 1px #256a8a;
  border-right-width: 4px;
  border-bottom-width: 4px;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}
input {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #f1f1f1;
}
a {
  color: rgb(0, 174, 255);
  font-weight: 500;
}